# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Java
*.class
*.jar

# Logs
*.log

# VS Code
*.code-workspace

# other
*.tmp
*.swp
*.swo
*.zip

meteor_source_1.21.3/